* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color: inherit;
    text-decoration:none;
    cursor: pointer;
}

  .wrapper {
    overflow: hidden;
    width: 100%;
}

section{
    padding: 40px 0;
}

.container {
    display: block;
    width: calc(100% - 20px);
    max-width: 1170px; 
    margin: 0 auto;
}

.header {
    background-image: url(img/photo2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center -60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 106px 0 50px;
}

.head {
    padding: 45px 0;
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}


.head__row {
    position: relative;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav__item {
    position: relative;
}

.nav__item::after {
    position: absolute;
    content: "";
    width: 1%;
    height: 2px;
    background-color: rgba(255,255,255,1);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    transition-duration: 0.6s;
    opacity: 0;
    border-radius: 5px;
}


.nav__item:hover::after {
    width: 100%;
    opacity: 1;
}



.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}


.header__subtitle {
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.header__title {
    margin: 20px 0 60px;
    font-size: 72px;
    font-family: georgia;
    text-align: center;
    color: #fff;
    line-height: 1;
    font-weight: 400;
}

.header__button {
    margin-top: 40px;
    text-decoration: none;
    background-color: #fff;
    color:black;
    padding: 18px 40px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.header__button:hover {
    background-color:#000;
    color: #fff
}

.burger {
    margin-right: 20px;
    margin-left: auto;
    display: none;
    position: relative;
    width: 21px;
    height: 16px;
    z-index: 2;
    cursor: pointer;
}

.burger::before, .burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 5px;

}

.burger::before {
    top: 0;
}
.burger::after { 
    bottom: 0;
}

.burger__line {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 7px;
    border-radius: 5px;
}



@media (max-width: 1100px) {

    .container {
        max-width: 980px;
    }


    .header {
        background-position: center;
    }

    .burger {
        display: block;
    }
  
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color:#fff;
        transition: all 0.3s ease 0s;
        padding-left: 50px;
    }

    .nav__item {
        display: block;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2.4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        opacity: 0;
        transform: translateX(-30px);
    }

    .nav__item:nth-child(1) {
        transition-delay: 0.05s;
    }
    .nav__item:nth-child(2) {
        transition-delay: 0.1s;
    }
    .nav__item:nth-child(3) {
        transition-delay: 0.15s;
    }
    .nav__item:nth-child(4) {
        transition-delay: 0.2s;
    }
    .nav__item:nth-child(5) {
        transition-delay: 0.25s;
    }
    .nav__item:nth-child(6) {
        transition-delay: 0.3s;
    }
    .nav__item:nth-child(7) {
        transition-delay: 0.35s;
    }
    .nav__item:nth-child(8) {
        transition-delay: 0.4s;
    }
    .nav__item:nth-child(9) {
        transition-delay: 0.45s;
    }

    .nav__item:nth-child(10) {
        transition-delay: 0.5s;
    }

    .nav.active .nav__item {
            transform: translateX(0);
            opacity: 1;
            transition-duration: 0.5s;
        }

    .nav__list {
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        list-style-type: none;
        font-size: 14px;
        line-height: 16px;
        font-family: roboto regular;
        text-transform: uppercase;
        width: 100%;
        padding-top: 110px;
    }
    

    .burger.active:before{
        transform: rotate(45deg);
        top: 7px;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .burger.active::after{
        transform: rotate(-45deg);
        bottom: 7px;
        transition: all 0.3s ease 0s;
        background-color:#000;
    }

    .burger.active .burger__line {
        transform: scale(0);
    }
    
    .nav.active {
        left: 0;
    }

}


@media (max-width: 520px) {
    .header__title {
        font-size: 56px;
    }
}

@media (max-width: 440px) {
    .header__title{
        font-size: 50px;
    }

    .header {
        background-image: url(img/photo-mini.jpg);
    }
}

@media (max-width: 350px) {
    .header__title {
        font-size: 40px;
      
    }
}


.about__title {
    font-size: 36px;
    font-family: georgia;
    font-weight: 400;
    margin-bottom: 20px;
}